/* ---- reset ---- */

html {
    box-sizing: border-box;
    /*background: url('./IMG_3628.JPG');*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}


/* ---- typography ---- */

body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
    background: url("./image/concert.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    font-size: 12em;
    text-shadow: 1px 1px 1px #000, 3px 3px 15px #c50101;
}

h2 {
    font-size: 6em;
}

h3 {}

p {
    margin: 0;
    color: black;
    font-size: 1.3em;
}


/* ---- layout ---- */

#site-header {
    padding: 30px 0;
    color: white;
    background: #111;
}

#site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
}

#site-main {
    margin-bottom: 60px;
}

.container {
    margin: 0 20px;
}

.section {
    margin-bottom: 20px;
    padding-top: 20px;
}

@media (min-width: 768px) {
    .container {
        max-width: 728px;
        margin: 0 auto;
    }
}


/* ---- components ---- */

.btn-start {
    background: #008756;
    background-image: -webkit-linear-gradient(top, #008756, #62ba77);
    background-image: -moz-linear-gradient(top, #008756, #62ba77);
    background-image: -ms-linear-gradient(top, #008756, #62ba77);
    background-image: -o-linear-gradient(top, #008756, #62ba77);
    background-image: linear-gradient(to bottom, #008756, #62ba77);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 26px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 70px 0 30px;
}

.btn-start:hover {
    background: #c42727;
    background-image: -webkit-linear-gradient(top, #c42727, #f06969);
    background-image: -moz-linear-gradient(top, #c42727, #f06969);
    background-image: -ms-linear-gradient(top, #c42727, #f06969);
    background-image: -o-linear-gradient(top, #c42727, #f06969);
    background-image: linear-gradient(to bottom, #c42727, #f06969);
    text-decoration: none;
}

.btn-instructions {
    background: #a67a2d;
    background-image: -webkit-linear-gradient(top, #a67a2d, #dbb260);
    background-image: -moz-linear-gradient(top, #a67a2d, #dbb260);
    background-image: -ms-linear-gradient(top, #a67a2d, #dbb260);
    background-image: -o-linear-gradient(top, #a67a2d, #dbb260);
    background-image: linear-gradient(to bottom, #a67a2d, #dbb260);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn-instructions:hover {
    background: #153f94;
    background-image: -webkit-linear-gradient(top, #153f94, #75bae0);
    background-image: -moz-linear-gradient(top, #153f94, #75bae0);
    background-image: -ms-linear-gradient(top, #153f94, #75bae0);
    background-image: -o-linear-gradient(top, #153f94, #75bae0);
    background-image: linear-gradient(to bottom, #153f94, #75bae0);
    text-decoration: none;
}

ext-decoration: none;

}

/* ---- section ---- */
section.testimonials {
    // ...
}
section.testimonials .button {
    margin-bottom: 10px;
}
#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.canvas-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.score-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    margin: 20px auto 10px auto;
}
.score-section p {
    font-size: 2.3em;
    font-weight: 900;
}
canvas {
    margin: 0 auto;
    /* background-color: rgba(255, 255, 255, 0.3);*/
    
    margin-top: 35px;
    background-image: url("./image/background-canvas.png");
}
.instruction-keys {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 70px;
}

/*
.instruction-keys p {
    text-align: center;
    font-size: 1em;
    background-color: rgb(255, 255, 255, 0.3);
    font-weight: bold;
}*/
.instruction-keys div {
    text-align: center;
    font-size: 1em;
    background-color: rgb(255, 255, 255, 0.3);
    font-weight: bold;
    padding: 20px;
    margin: 6px;
}
.score {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255, 0.3);
    padding: 80px 150px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}
.score p {
    font-weight: 900;
    font-size: 2.3em;
    margin-left: 14px;
    color: white;
}